
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', arial, sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  background-color: #000000;
  background-image: url("img/bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {

 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
 margin-right:
}


.main-nav {
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}



a{
  text-decoration: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  display: block;
  padding: 25px 20px;

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
  }

.features li {
  text-align: center;
  width: 300px;

}

.features h3 {
  font-size: 30px;
  line-height: 42px;
  margin: 0;
  margin-bottom: 60px;
  position: relative;
}

.features {
  margin-bottom: 80px;
}



.features h3::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  bottom: -30px;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

.features p {
  margin: 0 10px;
}



.button {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 16px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  border: none;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news time {
  text-transform: none;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-container {
  position: relative;
  height: 260px;
}

.gallery-container .button {
  box-sizing: border-box;
  width: 140px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.button-back {
  left: 0;
}

.button-next {
  right: 0;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.appointment {
  width: 300px;

}

.contact-info {
  width: 380px;
}

.contact-info p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 15px 7px 15px;

  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
  outline: none;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment .button {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}


.main-footer {
  color: #ffffff;
  background-color: #212121;
  padding: 60px 0;
  margin-top: 65px;

}

.footer-contact {
  margin: 0;
  margin-right: 80px;
  width: 320px;
}

.footer-contact a {
  text-decoration: underline;
  color: #ffffff;
}

.footer-contact a:hover,
.footer-contact a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
  width: 140px;
}

.footer-social ul {
  list-style: none;
  display: flex;
  width: 141px;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  width: 43px;
  height: 43px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.developers b {
  display: block;
  margin-bottom: 15px;
}

.developers {
  text-align: center;
  width: 150px;
  margin: 0;
  margin-left: auto;
}

.developers .button {
  margin: 0;
  display: block;
}

.developers .button:hover,
.developers .button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
}

.modal h2 {
  font-size: 30px;
  line-height: 42px;
}

.modal-login input[type="text"],
.modal-login input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.modal-login input:focus {
    border-color: #663d15;
}

.login-checkbox:focus,
.login-checkbox:hover {
  color: #663d15;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

/* сетки */

.main-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-nav-logo {
  order: 2;
}

.main-header {
  margin-bottom: 75px;
}

.main-nav-wrapper {
  width: 100%;
  background-color: #000000;
  margin-bottom: 60px;
  min-height: 70px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  width: 620px;
  display: flex;
  flex-wrap: wrap;

}

.user-navigation {
  max-width: 140px;
  display: flex;
}

.user-navigation .login-link {
  padding-left: 50px;
  position: relative;
}

.login-link::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  top: 27px;
  left: 24px;
  background-position: 0 0;
  background-image: url("img/login.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.main-nav-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.features .container ul {
  display: flex;
  justify-content: space-between;
}

.index-bg {
  box-sizing: border-box;
  margin: 0 auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding: 50px 80px; ;
  margin-bottom: 35px;
  background-color: #f8f5f2;
  color: #000000;
  background-image: url("img/line.png");
  background-repeat: no-repeat, repeat;
  background-position: center, 0 0;
}

.news {
  width: 380px;
}

.gallery {
  width: 300px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}


/* Ниже стили для barbershop-item */

.barbershop-item {
  width: 100%;
  margin: 0 auto;
  color: #000000;
  background-color: #f8f5f2;
}



.active {
  position: relative;
}

.active::after {
  content: "";

  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.site-navigation .logo {
  width: 50px;
  height: 24px;
}


.mainor-nav{
  width: 100%;
  background-color: #000000;
}

.mainor-nav .container {
  display: flex;
  justify-content: space-between;
}

.barbershop-item .index-bg {
  box-sizing: content-box;
  display: block;
  background-image: none;
  width: 955px;
  padding: 60px 140px 45px 130px;
  margin: 0 auto;
}


.item-img {
  width: 460px;
  margin: 0;
  margin-right: 90px;
  font-size: 0;
}

.item-img img {
  width: 460px;
  margin: 0;

  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.item-img img:not(:first-child) {
  width: 140px;
}

.item-img img:nth-child(2) {
  margin-right: 20px;
}

.item-img img:nth-child(3) {
  margin-right: 20px;
}

.detailed-item-description {
  margin: 40px 0;


}

.mainor-footer {
margin: 0;
box-shadow: inset 0 12px 20px rgba(0, 0, 0, 0.8)
}

.nav-item li {
  list-style: none;
  display: inline;
  padding-right: 40px;

}

.nav-item li:not(:last-child) a::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #000000;
  position: absolute;
  right: -24.5px;
  top: 4.75px;
  transform: rotate(45deg);
}

.nav-item a {
  color: #000000;
  position: relative;
}

.nav-item ul {
  padding: 0;
  margin: 0;
}

.nav-item h1 {
  margin: 0;
  margin-bottom: 30px;
}


.nav-item {
  margin-bottom: 55px;
}


.item-description .container {
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.item-description .container p {
  margin: 0;
  color: gray;
}


.main-item  {
  display: flex;
}

.main-item .container {
  width: 385px;
  padding: 0;
}

.item-description {
  margin-bottom: 65px;
}

.price-buy {
  align-items: center;
  display: flex;
  width: 190px;
}

.price-buy p {
  text-align: center;
  width: 110px;
  padding: 10px 30px;
  background-color: #DCDCDC;
  margin: 0
}

.price-buy .button {
  width: 80px;
  padding: 10px 10px;
  margin: 0;
}

.item-structure h2 {
  margin: 0;
  margin-bottom: 40px;
}

.item-structure ul {
  margin: 0;
  padding-left: 20px;
}

.item-structure li {
  list-style: none;
  position: relative;
}

.item-structure li::before {
  content: "";
  background-color: #000000;
  background-position: 0 0;
  width: 9px;
  height: 9px;
  position: absolute;
  left: -20px;
  top: 7.5px;
  transform: rotate(45deg);
}

.nav-item li:not(:last-child) a:hover,
.nav-item li:not(:last-child) a:focus {
  color: #CEAB0C;
  outline: none;
}


/* Стили для price */



/*.price-description h2 {
  width: 100%;
   text-align: center;
   border-bottom: 2px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.price-description h2 span {
  background:#f8f5f2;
   padding:0 10px;
}
*/

.big-heading {
  display: flex;
  align-items: center;
  text-align: center;
}

.big-heading::after {
  margin-left: 25px;
}

.big-heading::before {
  margin-right: 25px;
}

.big-heading::after,
.big-heading::before {
  content: "";

  flex-grow: 1;
  flex-shrink: 0;

  width: 50px;
  height: 2px;
  background-color: #000000;
}

.barbershop-price {
  background-color: #f8f5f2;
  color: #000000;
}

.barbershop-price .index-bg {
  box-sizing: content-box;
  display: block;
  background-image: none;
  width: 945px;
  padding: 55px 0 80px;
  margin: 0 auto;
}

.nav-price ul {
  padding: 0;
}

.nav-price li {
  list-style: none;
  display: inline;
  padding-right: 40px;
}

.nav-price li:not(:last-child) a:before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #000000;
  position: absolute;
  right: -24.5px;
  top: 4.75px;
  transform: rotate(45deg);
}

.nav-price a {
  color: #000000;
  position: relative;

}

.nav-price a:hover,
.nav-price a:focus {
  color: #CEAB0C;
  outline: none;
}

.price-description .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price_description_3 .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.price_description_3 p {
  width: 400px;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000;
}

.price-table td {
  width: 50%;
  text-align: center;
  border: 2px solid #000;
}

.price-table p {
  margin: 0;
}

.price-table td:first-child {
  text-align: left;
  margin-left: 15px;
}

.price-table td:first-child p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.price_description_1 {
  width: 240px;
}

.price_description_2 {
  width: 465px;
}

.price_description_1 ul {
  margin: 0;
  padding-left: 20px;
}

.price_description_1 li {
  list-style: none;
  position: relative;
}

.price_description_1 li::before {
  content: "";
  width: 9px;
  height: 9px;
  background-color: #000000;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: -20px;
  top: 7.5px;
  transform: rotate(45deg);
}

.barbershop-price .container {
  padding: 0;
}



/* Стили для shop */

 .barbershop-shop {
   color: #000000;
   background-color: #f8f5f2;
 }

.main-content {
  width: 945px;
  padding: 0;
  margin: 0 auto;
}

.nav-shop {
  padding-top: 60px;
  margin-bottom: 60px;
}

 .nav-shop h1 {
   margin: 0;
 }

 .nav-shop ul {
   margin: 0;
   padding: 0;
   display: flex;
 }

 .nav-shop li {
   list-style: none;
   display: inline;
   padding-right: 40px;
 }

 .nav-shop li:not(:last-child) a:after {
   content: "";
   width: 9px;
   height: 9px;
   background-color: #000000;
   position: absolute;
   right: -24.5px;
   top: 4.75px;
   transform: rotate(45deg);
 }

 .nav-shop a {
   color: #000000;
   position: relative;

 }

 .nav-shop a:hover,
 .nav-shop a:focus {
   color: #CEAB0C;
   outline: none;
 }

.filter {
  max-width: 170px;
  margin-right: 70px;
}


 .barbershop-shop .container {
   display: flex;
   justify-content: space-between;

 }

 .table-product table {
   border-collapse: collapse;
 }

 .table-product td {
   margin: 15px;
 }

.table-product .item {
  width: 220px;
  height: 285px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.table-product {
  display:flex;
  flex-wrap: wrap;
  width: 705px;
  justify-content: flex-start;
}

.table-product .item {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #FFFAFA;
}

.item .item-description {
  text-transform: none;
  margin: auto 15px ;
  font-size: 12px;
  line-height: 20px;
  width: 190px;
}

.item .price-buy {
  margin: 15px;
}

.item img {
  width: 100%;
  height: 165px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}




.table-product .item:nth-child(3n) {
  margin-right: 0;
}

.disabled a {
  color: gray;
  cursor: default;
  pointer-events: none;
}


/* Всплывающие окна  */

.modal {
  background-color: #f8f3f0;
  color: #000000;
  position: fixed;
}

.modal-login {
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7)
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::after,
.modal-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

.login-form p {
  margin: 0;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-icon-user {
  background-image: url("img/lock.svg");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.login-icon-password {
  background-image: url("img/lock.svg");
  background-repeat: no-repeat;
  background-position: 270px center;
}

.login-password-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"] +
.checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
  transform: rotate(-45deg);
}

.login-form .button {
  width: 100%;
  margin: 0;
}

.modal-login {
  display: none;
}



.modal-map {
  top: 50%;
  left: 50%;
  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
}

.modal-map p {
  margin: 0;
  position: relative;

}

.modal-map iframe {
  z-index: 1;
  position: absolute;
}


.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-show-map {
  display: block;
  animation-name: map-bounce;
  animation-duration: 0.6s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

/* animation */

@keyframes bounce {
  0% { transform: translateY(-2000px);}
  70% { transform: translateY(30px);}
  90% { transform: translateY(-10px);}
  100% { transform: translateY(0);}
}

@keyframes map-bounce {
  0% { transform: translateY(2000px);}
  70% { transform: translateY(-30px);}
  90% { transform: translateY(10px);}
  100% { transform: translateY(0);}
}

@keyframes shake {
  0%, 100% { transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}
