
body {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Encode Sans SC', arial, sans-serif;
  font-family: 'Montserrat', arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

a,
a:visited {
  color: inherit;
}

.visually-hidden {

 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

button {
 border: none;
}

.button {
  padding: 10px 15px;
  margin: 0px 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  font-family: 'Encode Sans SC', arial, sans-serif;
  font-family: 'Montserrat', arial, sans-serif;
  box-shadow: 0 0 10px black;

}

.button:hover,
.button:focus {
  background-color: red;
}
