
body {
  text-align: center;

}

.visually-hidden {

 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 clip: rect(0 0 0 0);
 overflow: hidden;
}

button {
 border: none;
}

main {
margin: 5px;
padding: 5px;
}


.button {
  padding: 10px 15px;
  margin: 0px 10px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  font-family: 'Encode Sans SC', sans-serif;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px black;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: red;
}

.news {
  float:left;
  width: 50%;
}

.gallery {
  float: right;
  width: 50%;
  margin-bottom: 8em;
}

.contact-info {
  float: left;
  width: 50%;

}

.appointment {
float: right;
width: 50%;
margin-bottom: 1px;
}

.left {
  float: left;
  width: 33%;
}

.right {
  float: right;
  width: 33%;
}

footer {
  margin: 1px;
  padding: 1px;
}

.social {
  width: 200px;

}
